
body{ background-image: linear-gradient( 109.6deg, rgba(106,90,205,1) 11.2%, rgb(17, 7, 83) 91.1% );
    background-size: cover;
    background-position: center;

}
.row {
    display: flex;
  }
  @media (min-width: 600px) { .column2{
      width: 50%;}
      
    }
  .column2 {
    flex: 50%;
    padding:6px;
    height: 250px;
    padding-left: 10px;
    justify-items: center;
  }
 .header{
    color: azure;
    padding-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 300;
}
  section{
    text-align: center;
    position: relative;
    left: 70px;
    right: 70px;
    top: 50px;
    text-align: justify;


  }
  h3{
    color: azure;
  }
  input[type=text],
    input[type=email] {
        width: 100%;
        padding: 15px 10px;
        margin: 6px 0;
        display: inline-block;
        border: 1px solid #ccc;
            border-radius: 10px}

            button {
                background-color: rgb(106, 90, 205);
                color:whitesmoke;
                padding: 15px 10px;
                margin: 6px 0;
                border: 1px ;
                border-radius: 10px;
                cursor: pointer;
                width: 100%;
            }
a{
    color: azure;
}
img{
    position: relative;
    top: 60px;
}